@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;

  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #1F2937;
}

nav ul {
    height: 50px;
    margin: 0px;
    padding-right: 30px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav ul li:nth-of-type(1) {
    margin-right: auto;
    color: #F9FAF8;
    font-size: 1.5em;
    font-weight: 900;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #3882F6;
}

.intro {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 90px 70px;
}

.intro .container {
    display: flex;
    flex-flow: column;
}

.intro h1 {
    margin: 0px;
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.intro p {
    font-size: 18px;
    color: #E5E7EB;
}

.intro img {
    max-width: 500px;
    max-height: 300px;
    border-radius: 5px;
}

.intro button {
    flex-basis: 30px;
    width: 100px;
    padding: 5px;
    font-size: 19px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 20px;
}

.intro button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.intro button:active {
    box-shadow: none;
}

@media only screen and (max-width: 600px) {
    .intro img {
        display: none;
    }
  }

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 50px 30px;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info .items-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.info .item {
    flex-basis: 50px;
}

.info .item img {
    border: 5px solid #1F2937;
    border-radius: 10px;
    padding: 50px;
}

.info .item p {
    font-size: 15px;
    color: gray;
}

.quote-container {
    background-color: #E5E7EB;
}

.quote {
    max-width: 1000px;
    margin:  auto;
    padding: 80px 120px;
    text-align: center;
}

.quote cite {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    
}

.quote h6 {
    font-size: 17px;
    text-align: end;
    padding-right: 80px;
}


@media only screen and (max-width: 600px) {
    .quote {
        padding: 20px;
    }
  }

.signup {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 120px 200px;
    padding: 40px 80px;
    border-radius: 20px;
}

.signup button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 20px;
    border: 2px solid #F9FAF8;
    border-radius: 12px;
    padding: 8px 25px;
}

.signup button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.signup button:active {
    box-shadow: none;
}

@media only screen and (max-width: 600px) {
    .signup {
        margin: 20px;
        padding: 20px;
    }
  }

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 20px;
}