@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;

  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #1F2937;
}

nav ul {
    height: 50px;
    margin: 0px;
    padding-right: 30px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav ul li:nth-of-type(1) {
    margin-right: auto;
    color: #F9FAF8;
    font-size: 1.5em;
    font-weight: 900;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #3882F6;
}

.intro {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 90px 70px;
}

.intro .container {
    display: flex;
    flex-flow: column;
}

.intro h1 {
    margin: 0px;
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.intro p {
    font-size: 18px;
    color: #E5E7EB;
}

.intro img {
    width: 500px;
    height: 300px;
    border-radius: 5px;
}

.intro button {
    flex-basis: 30px;
    width: 100px;
    padding: 5px;
    font-size: 19px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 20px;
}

.intro button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.intro button:active {
    box-shadow: none;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 50px 30px;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info .items-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.info .item {
    flex-basis: 50px;
}

.info .item img {
    border: 5px solid #1F2937;
    border-radius: 10px;
    padding: 50px;
}

.info .item p {
    font-size: 15px;
    color: gray;
}