@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;

  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #1F2937;
}

nav ul {
    height: 50px;
    margin: 0px;
    padding-right: 30px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav ul li:nth-of-type(1) {
    margin-right: auto;
    color: white;
    font-size: 1.5em;
    font-weight: 900;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #3882F6;
}